body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .poster {
    margin-bottom: 20px;
  }

  h1 {
    color: #e91e63;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
  }

  .quote-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .quote-container p {
    font-style: italic;
    color: #555;
  }

  button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #c2185b;
  }
  .box{
    text-align: center;
    height: 7px;
    width: 100%;
    transition: .3s;
  /*   background-color: red; */
  }
  button:hover {
    background-color: #45a049;
  }

  /* Holi colors animation */
  @keyframes spreadColors {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
